

.navbar-light{
  background: rgb(186, 231, 84);
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 26px !important;
}

.carousel-title{
  font-size: 35px;
  font-weight: 700;
  line-height: 1.23;
  color: #8BC34A; 
  text-align: left;
  margin-right: 30%;
  margin-bottom: 1%;
  font-family: Raleway,sans-serif;
}
.carousel-span{
  color: whitesmoke; 
}

.carousel-desc{
  font-size:15px;
  font-weight: 500;
  line-height: 1.7;
  color: white; 
  text-align:left;
  margin-right: 30%;
  margin-bottom: 2%;
  font-family: Lato,sans-serif;
  overflow-x: hidden;
  letter-spacing: 1px;
}

.carousel-control-prev{
  color: #8BC34A;
}


.certi #certificateWrapper {
  box-shadow: 0 0 5px #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.certi #certificateWrapper img {
  display: block;
}
.certi #certificateWrapper p {
  font-family: "Staatliches", cursive;
  margin: 0;
  position: absolute;
  left: 300px;
  right: 250px;
  top:  200px;
  font-size: 40pt;
}



